<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/book.css">
</head>
<body>
    <%- include('Navbar.ejs') %>
    <% if(typeof data!=="undefined") { %>

    <div class="book_container">
        <div class="image_container">
            <img src="../assets/Books/<%= data.image_url %>" alt="">
        </div>
        <div class="book_info">
            <h2 class="book_title"><%= data.name %></h2>
            <p class="book_desc"><%= data.description.substr(0,200) %></p>
            <p class="authour"> Author: <%= data.author %></p>
            <p class="rating">
                rating:
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </p>
            <div class="action">
                <button> By now</button>
                <button> Add to whishlist</button>
            </div>
        </div>
    </div>
    <% } %>
</body>
</html>